{% assign sidebar = site.data["posts"] %}
<div class="mydocsidebar">

<div class="sidebar-inner">


  {% if site.search_in_sidebar == true %}
<!-- search bar - uses Lunr.js  -->

<div class="sidebarSearchBar">
<form action="search.html" method="get">
  <div class="input-group search">
    <input type="text" id="search-box" name="query" class="form-control" placeholder="{{site.uistring.search_placeholder_text}}">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit" value="search">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>
</div>

<!-- end search bar -->
{% endif %}


	<div class="blog-name">
		<a href="{{ site.home_url }}post">{{site.uistring.blog}}</a>
	</div>

	<img class="sidebar-photo" alt="{{site.blog_logo_alt_text}}" src="{{ site.home_url }}{{site.blog_logo}}" />

	
		<p class="external">
			<a href="#" id="collapseAll">{{site.uistring.collapseall}}</a> | <a href="#" id="expandAll">{{site.uistring.expandall}}</a>
		</p>

    <ul id="docnavsidebar" class="docnav">
	
	<!-- Link to all posts -->
	<li class="level1"><a href="{{ site.home_url }}post">All Posts</a></li>
	
	<!-- This generates all the topics -->
    <li class="level1"><a href="#">Topics</a>
        <ul>

			<!-- get all the topics available -->
			{% assign list = site.pages | where_exp: "item" , "item.path contains 'topic/'"% }
			{% assign topics = "" %}
			{% for item in list %}
				{% assign topics = topics | append: item.topics %}
				{% unless my_array.last == item %}
					{% assign topics = topics | append: "," %}
				{% endunless %}
			{% endfor %}
			
			{% assign topics = topics | split: "," | uniq | sort %}
			
			{% for item in topics %}

				<li class="level1items"><a href="{{ site.home_url }}topic/{{item}}">{{ item | capitalize}}</a></li>

            {% endfor %}
        </ul>
    </li>
	
	<!-- This generates all the authors -->
    <li class="level1"><a href="#">Authors</a>
        <ul>

			<!-- get all the authors available -->
			{% assign list = site.pages | where_exp: "item" , "item.path contains 'author/'"% }
			{% assign authors = "" %}
			{% for item in list %}
				{% assign authors = authors | append: item.about_authors %}
				{% unless my_array.last == item %}
					{% assign authors = authors | append: "," %}
				{% endunless %}
			{% endfor %}
			
			{% assign authors = authors | split: "," | uniq | sort %}
			
			{% for item in authors %}

				<li class="level1items"><a href="{{ site.home_url }}author/{{item}}">{{ item | capitalize}}</a></li>

            {% endfor %}
        </ul>
    </li>
	
	<!-- This generates all the tags -->
    <li class="level1"><a href="#">Tags</a>
        <ul>
			{% for tag in site.tags %}

				<li class="level1items"><a href="{{ site.home_url }}tag/{{ tag[0] }}">{{ tag[0] | capitalize }}</a></li>

            {% endfor %}
        </ul>
    </li>
	
</ul>

</div>
</div>
<script>$("li.open").parents('li').toggleClass("open");</script>
