{% assign sidebar = site.data[page.sidebar] %}
<div class="collapse mydocsidebar collapsable" aria-expanded="false">


<div class="sidebar-inner">

{% unless page.sidebar == null %}

	<div class="productTitle">{{sidebar.sidebarTitle}}</div>
		
	{% if page.photo %}

			{% if page.photo_alt_text %}
				<img class="sidebar-photo" alt="{{page.photo_alt_text}}" src="{{ site.home_url | replace_last: "/", "" }}{{page.photo}}" />
			{% else %}
				<img class="sidebar-photo" alt="Photo image" src="{{ site.home_url | replace_last: "/", "" }}{{page.photo}}" />
			{% endif %}

	{% endif %}
	
	{% if sidebar.folders %}
		<p class="external">
			<a href="#" id="collapseAll">{{site.uistring.collapseall}}</a> | <a href="#" id="expandAll">{{site.uistring.expandall}}</a>
		</p>
	{% endif %}
{% endunless %}

    <ul id="docnavsidebar" class="docnav">
    {% for folder in sidebar.folders %}
	
    {% unless folder.type == "frontmatter" %}
	{% unless folder.folderitems %}
		<li class="level1"><a href="{{ site.home_url | replace_last: "/", "" }}{{folder.jurl }}">{{ folder.title }}</a>
	{% else %}
	
    <li class="level1"><a href="#">{{ folder.title }}</a>
        <ul>
            {% for folderitem in folder.folderitems %}

            {% if folderitem.title %}
				{% if page.url == folderitem.jurl %}
					<li class="level1items open"><a href="{{ site.home_url | replace_last: "/", "" }}{{folderitem.jurl }}">{{folderitem.title}}</a></li>
					{% elsif folderitem.jurl contains "http://" or folderitem.jurl contains "https://" %}
					<li class="level1items"><a  class="noExtIcon" href="{{folderitem.jurl }}">{{folderitem.title}}</a></li>
					{% else %}
					<li class="level1items"><a href="{{ site.home_url | replace_last: "/", "" }}{{folderitem.jurl }}">{{folderitem.title}}</a></li>
				{% endif %}
            {% endif %}

            {% for subfolder in folderitem.subfolders %}

            <li class="level2"><a class="subfoldersTitle" href="#">{{ subfolder.title }}</a>
                <ul style="display:none;">
                    {% for subfolderitem in subfolder.subfolderitems %}

                    {% if subfolderitem.title %}
                    {% if page.url == subfolderitem.jurl %}
                    <li class="level2items open"><a href="{{ site.home_url | replace_last: "/", "" }}{{subfolderitem.jurl}}">{{subfolderitem.title}}</a></li>
                    {% elsif folderitem.jurl contains "http://" or folderitem.jurl contains "https://" %}
                    <li class="level2items"><a  class="noExtIcon" href="{{subfolderitem.jurl }}">{{subfolderitem.title}}</a></li>
                    {% else %}
                    <li class="level2items"><a href="{{ site.home_url | replace_last: "/", "" }}{{subfolderitem.jurl}}">{{subfolderitem.title}}</a></li>
                    {% endif %}
                    {% endif %}

                    {% for subsubfolder in subfolderitem.subsubfolders %}
                    <li class="level3"><a class="subfoldersTitle" href="#">{{ subsubfolder.title }}</a>
                        <ul style="display:none;">
                            {% for subsubfolderitem in subsubfolder.subsubfolderitems %}

                            {% if subsubfolderitem.title %}
                            {% if page.url == subsubfolderitem.jurl %}
                            <li class="level3items open"><a href="{{ site.home_url }}{{subsubfolderitem.jurl }}">{{subsubfolderitem.title}}</a></li>
                            {% elsif folderitem.jurl contains "http://" or folderitem.jurl contains "https://" %}
                            <li class="level3items"><a href="{{subsubfolderitem.jurl }}">{{subsubfolderitem.title}}</a></li>
                            {% else %}
                            <li class="level3items"><a href="{{ site.home_url | replace_last: "/", "" }}{{subsubfolderitem.jurl }}">{{subsubfolderitem.title}}</a></li>
                            {% endif %}
                            {% endif %}

                            {% endfor %}
                        </ul>
                    </li>

                    {% endfor %}

                    {% endfor %}
                </ul>
            </li>

            {% endfor %}

            {% endfor %}
        </ul>
		{% endunless %}
		
{% endunless %}
        {% endfor %}

    </li>
	
</ul>

<hr class="resourceSeparator"></hr>
<div class="relatedResources">{{sidebar.related_resources_title}}</div>
<ul id="entrypages">
        {% for item in sidebar.related_resources_list %}
        <li><a class="noExtIcon" target="_blank" href="{{item.jurl }}">{{item.title}}</a></li>
        {% endfor %}
    </li>
</ul>

</div>
</div>
<script>$("li.open").parents('li').toggleClass("open");</script>
