/* callout styles*/

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border-left-width: 5px;
  border-radius: 3px;
}
.calloutTitle {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {

}
.bs-callout-default .calloutTitle {

}
.bs-callout-primary {

}
.bs-callout-primary .calloutTitle {

}
.bs-callout-success {

}
.bs-callout-success .calloutTitle {

}
.bs-callout-danger {

}
.bs-callout-danger .calloutTitle {

}
.bs-callout-warning {

}
.bs-callout-warning .calloutTitle {

}
.bs-callout-info {

}
.bs-callout-info .calloutTitle {

}

.alert code {
  background: transparent;
}

blockquote {
    font-family: arial;
    font-size: .9em;
    margin: 0px;
    padding: 1em;
}

p.note {
    padding: 1em;
    border-left: 1em solid orange;
}

p.tip {
    padding: 1em;
}

p.warning {
    padding: 1em;
}

p.note::before {
    content: "Note: ";
    font-weight: bold;
}

p.tip::before {
    content: "Tip: ";
    font-weight: bold;
}

p.warning::before {
    content: "Warning: ";
    font-weight: bold;
}
/* end callout styles*/
