@media (min-width: 767px)
{

    p, .alert, pre, ol li ul li, ol li ol li 
    {
        max-width: 90%;
    
    }
  

    .navbar-nav > li 
    {
        padding-top: 10px;
     }

}

@media (max-width: 766px)
{

    /* Sidebar stuff */
    
    #sidebar {
	    width: 100%;
        padding-bottom: 0px;
        padding-top: 25px;
    }

}
