@media (min-width: 767px)
{

    p, .alert, pre, ol li ul li, ol li ol li 
    {
        max-width: 90%;
    
    }
  

    .navbar-nav > li 
    {
        padding-top: 10px;
     }

}

@media (max-width: 766px)
{

    /* Sidebar stuff */
    
    #sidebar {
	    width: 100%;
        padding-bottom: 0px;
        padding-top: 25px;
    }
    
    h1,h2,h3,h4,h5,h6{
        word-wrap: break-word;
    }
    
    .navbar-header{
        width: 100vw;
    }
    
    .mydocsidebar{
        padding-bottom: 25px;
    }

    .blog-name {
	    margin-top: 0px;
    }
    
    .main-no-sidebar{
        margin: 0px 0px
    }
}
