.docnav {
  max-width: 225px;
}
.docnav {
  padding-left: 15px;
  margin-left: 10px;
  padding-right: 15px;
}
.docnav ul {
  padding-left: 15px
}
.docnav li {
  list-style: none;
  font: normal 12px "Open Sans", "Lucida Grande", "Helvetica Neue", Arial;
  border-bottom: 0px;
  font-size: 14px;
}
.docnav li a:hover,
.docnav li a:active {

}
/* plus */

.docnav li.level1 > a > span:after,
.docnav li.level2 > a > span:after,
.docnav li.level3 > a > span:after {
  content: '\f0fe';
  font-family: 'FontAwesome';
  font-size: 14px;
  padding-right: 12px;
  text-decoration: none;
}
/* empty square*/

.docnav li.level1items > a:before,
.docnav li.level2items > a:before,
.docnav li.level3items > a:before {
  content: '\f096';
  font-family: 'FontAwesome';
  padding-right: 10px;
  text-decoration: none;
  /*text-indent: -1.5em;*/
}
/* minus */

.docnav li.open > a > span:after {
  content: '\f146';
  font-family: 'FontAwesome';
  font-size: 14px;
  padding-right: 10px;
}
.docnav li.level3,
.docnav li.level3items {
  padding-left: 10px
}
.docnav li.level2,
.docnav li.level2items {
  padding-left: 10px;
}
.docnav li.level1,
.docnav li.level1items {
  padding-left: 10px;
}
.docnav li {
  margin: 7px 0px;
}
li.level1.open > ul > li.level1items.open a,
li.level2.open > ul > li.level2items.open a,
li.level3.open > ul > li.level3items.open a {
  color: black;
  font-weight: bold;
}
li.level1.open > ul > li.level1items.open > a:before,
li.level2.open > ul > li.level2items.open > a:before,
li.level3.open > ul > li.level3items.open > a:before {
  color: black;
}
.relatedResources {
	font-size: 16px;
	color: black;
	margin: 10px 0px;
}
.productTitle {
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-right: 8px;
  text-align: center;
}

hr.resourceSeparator {
  display: block;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  margin-left: 0px;
  /*margin-right: auto;*/
  border-width: 1px;
  max-width: 95%;
}
.docnav li a {
  line-height: 18px;
  display: table;
  white-space: pre-wrap;
  /* css-3 */

  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */

  white-space: -pre-wrap;
  /* Opera 4-6 */

  white-space: -o-pre-wrap;
  /* Opera 7 */

  word-wrap: break-word;
  /* Internet Explorer 5.5+ */

  text-indent: -20px;
}

ul#docnavsidebar li a:focus {
  text-decoration: none;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  overflow-y: auto;
}
#sidebar .nav {
  width: 95%;
}

#sidebar {
  padding-bottom: 50px;
  padding-top: 50px;
}

.sidebar-photo {
	margin: 7%;
	width: 80%;
	height: 80%;
	border-radius: 50%;
}

.cv-sidebar-photo {
	margin: 3%;
	width: 90%;
	height: 90%;
	border-radius: 50%;
}

.cv-sidebar-name {
	margin: 3%;
	width: 240px;
	height: 240px;
	border-radius: 50%;
	text-align: center;
	font-size: 72pt;
	font-weight: bolder;
	vertical-align: middle;
	display: table-cell;
}


.mydocsidebar .input-group.search {
  margin-top: -10px;
}

.cv-about-section {

}

.cv-about-section h1 {
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: bold;
}

.cv-about-section h2 {
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}

#sidebar .external {
	width: 90%;
	text-align: center;
	margin: 0px 0px 30px 0px;
}

/* prevents sidebar from showing outside link button */
.mydocsidebar a[href^="http://"]:after, a[href^="https://"]:after 
{
    content: "";
}
