{% include topnav.html %}
<div class="container">

        <div class="row row-offcanvas row-offcanvas-left">

            <!-- sidebar -->
			{% if page.sidebar %}
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

                {% include sidebar.html %}

            </div>
			{% endif %}

            <!-- main area -->
			{% unless page.include_sidebar %}
				<div class="col-xs-12 col-sm-9 main main-no-sidebar">
			{% else %}
				<div class="col-xs-12 col-sm-9 main">
			{% endunless %}

                    <h1 class="page-title-h1">{{page.title}}</h1>
                
				{{content}}
            </div>
        </div><!--/.container-->


    </div><!--/.page-container-->
    {% include footer.html %}

    {% include google_analytics.html %}

</body>

</html>
