{% include topnav.html %}
<div class="container">

	<div class="row row-offcanvas row-offcanvas-left">

            <!-- sidebar -->
			{% if page.include_sidebar %}
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

                {% include sidebar.html %}

            </div>
			{% endif %}

            <!-- main area -->
			{% unless page.include_sidebar %}
				<div class="col-xs-12 col-sm-9 main main-no-sidebar">
			{% else %}
				<div class="col-xs-12 col-sm-9 main">
			{% endunless %}

				<div class="blog-name">
					{{site.uistring.blog}}
				</div>

                <h1 class="page-title-h1">{{page.title}}</h1>

				<div class="blog-date">
					<time class="post-date" datetime="Posted on: {{ page.date | date: site.uistring.datetime_format }}">{{ page.date | date_to_string }}</time>
				</div>

				<div class="post">
					{{content}}
				</div>
				
				<div class="blog-tags">
					<b>Tagged with:</b>
					{% for tag in page.tags %}
						<a href="{{ site.home_url }}tag/{{tag}}">{{tag}}</a> 
					{% endfor %}
				</div>
				
            </div>
        </div><!--/.container-->


    </div><!--/.page-container-->
    {% include footer.html %}


</body>

</html>
